@font-face {
    font-family: "Indivisible-Bold";
    src: url("../static/fonts/Indivisible-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Indivisible-Regular";
    src: url("../static/fonts/Indivisible-Regular.ttf") format("truetype");
}