@import "../../styles/fonts.scss";

.services-section {
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    background-color: #000000;

    @media screen and (max-width: 768px) {
        padding: 30px 50px;
      }

    .title {
        font-size: 38px;
        font-family: "Indivisible-Bold";
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .cards {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}