@import "../../styles/fonts.scss";

.studio {
    .title1 {
        font-size: 50px;
        font-family: "Indivisible-Regular";
        margin: 0px;
    }
    
    .title2 {
        font-size: 50px;
        font-family: "Indivisible-Bold";
        margin: 0px;
    }
}

