@import "../../styles/fonts.scss";

.studio {
    background-image: url('../../images/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    
    @media screen and (min-width: 768px) {
        padding: 40px 100px;
    }

    .title1 {
        font-size: 36px;
        font-family: "Indivisible-Regular";
        margin: 0px;

        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
    }
    
    .title2 {
        font-size: 36px;
        font-family: "Indivisible-Bold";
        margin: 0px;

        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
    }
    .barbers {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 20px;
        padding: 20px 0 0 0;

        @media screen and (min-width: 768px) {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            padding: 40px 0;
            width: 100%;
        }

         .column:first-child {
            flex: 1;
            justify-self: start;
            display: flex;
            flex-direction: column;
        } 

        .column:last-child {
            flex: 1;
            justify-self: end;
            display: flex;
            flex-direction: column;
        }
    }
}

